name: Test Coveralls
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    env:
      NODE_COVERALLS_DEBUG: 1
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6.3
        bundler-cache: true

    - name: Run tests
      run: bundle exec rspec

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./coverage/lcov/coveralls-demo-ruby.lcov
        coveralls-endpoint: https://2a36-47-145-39-95.ngrok-free.app
